.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 0;
	outline: 0;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}

.image-checkbox-checked {
	border-color: #4783B0;
}
.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 53px;
}
.image-checkbox-checked .fa {
  display: block !important;
}

.hr{
	border-top: 1px solid rgba(0,0,0,.1)
}

.card-img-top{
	height: 180px;
    object-fit: cover;
}
#drinkOption .card-img-top{
	height: 180px;
    object-fit: contain;
}
/* #pizzaSummaryOrder, 
#drinkSummary, 
#saucesSummary{
	
	border-bottom: 1px solid black;
} */

@media print {
	* {
		font-size: 14px;
		/* margin: 0 !important; */
		text-align: center;
   		align-content: center;
	}
	#orderSummary{
		width: 155px;
		max-width: 155px;
	}
	#pizzaSummaryOrder, 
	#drinkSummary, 
	#saucesSummary{
		border-bottom: 1px solid black;
	}
}
